accelerate
bitsandbytes
datasets
deepspeed==0.13.5
einops
flash-attn==2.6.0.post1
isort
jsonlines
loralib
optimum
packaging
peft
ray[default]==2.12.0
torch
torchmetrics
tqdm
transformers==4.46.3
transformers_stream_generator
wandb
wheel
sympy==1.13.3
antlr4-python3-runtime==4.11
